{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<div>
<table>
<thead>
<th> </th>
<th> User</th>
<th> </th>
<th> Weekly Goals </th>
<th> Daily Goals </th>
<th> Verify </th>
<th> Done </th>
</thead>
<tbody>
{% if users %} {% for user in users %}
<tr>
<td><a href="{% url 'okoroscrumy:add_user' %}">+</a></td>
<td> {{user}} </td>
<td> <a href="{% url 'okoroscrumy:add_task' %}">+</a> </td>
<td>
{% for goal in user.get_daily_goals %} {{ goal }} <br> {% endfor %}
</td>
<td>
{% for goal in user.get_weekly_goals %} {{ goal }} <br> {% endfor %}
</td>
<td>
{% for goal in user.get_verified_goals %} {{ goal }} <br> {% endfor %}
</td>
<td>
{% for goal in user.get_done_goals %} {{ goal }} <br> {% endfor %}
</td>
</tr>
{% endfor %} {% else %}
<h2>No User found </h2>
{% endif %}
</tbody>
</table>
</div>
</body>
</html>
